@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

/* Theme */

:root {
  --color-primary: #9d65ff;
  --color-secondary: #dda2f6;
  --color-highlight: #58ebd7;
  --color-danger: #ff206e;
  --color-light: #fff;
/* dark shades */
  --color-shade: #556;
  --color-darkisht: #223;
  --color-dark: #112;
  --color-darkest: #001;
}

.gradient {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-primary),
    var(--color-highlight)
  )
}

.gradient.text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.alternate {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-danger),
    var(--color-secondary)
  )
}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 2rem;
  background-color: var(--color-dark);
  /* background-color: #fff; */
  color: var(--color-light);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 0 15%;
  /* height: 100%; */
  width: 100%;
  /* background-color:#fff; */
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-button {
  all: unset;
}

/************************** MODAL **************************/

.modal {
  color: #001;
}

.modal-body {
  display: flex;
}

.modal-infos {
  margin-left: 2rem;
}

.modal-img {
  width: 40%;
}

.modal-data {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.modal-data p{
  justify-content: space-between;
  align-items: center;
  line-height: 1.2rem;
  padding: 0.3rem;
}

.modal-data h1 {
  font-size: x-large;
  padding-bottom: 0.5rem;
}

.title {
  font-size:xx-large
}

.game-bg{
  width: 100%;
  /* height: 300px; */
}

.navbar-brand{
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.navbar-itens{
  padding-left: 0.5rem;
}

.navbar {
  width: 100%;
  justify-content: space-between;
}

.card-row{
  width:100%;
}

.gamefilter {
  /* position */
  display: flex;
  flex-direction: row;
  justify-content:center;

  /* dimensions */
  width: 100%;

  /* color */
  color: #fff;
  
}
.form-check{
  display: flex;
  align-items: center;
}
.form-check-label{
  padding-left: 1rem;
}